
body {
    background-color: #6b03c7;
    font-family: Arial, sans-serif;
    margin: 9px;
    color: white;
}
.cardapio {
    margin-top: 70px;
}
h1 {
    text-align: center;
    color: #6b03c7;
    font-size: 1.6rem;
    margin-top: 7px;
}

.topico {
    background-color: yellow;
    width: 70%;
    border-radius: 50px;
    margin-left: 16%;
    top: 22px;
    position: relative;
    padding: 1px 0;
    height: 36px;
}
.tabela-precos {
    border-radius: 42px;
    padding: 3px;
    border: yellow solid 4px;
    width: 97%;
}
table.tabela {
    margin-top: 23px;
    width: 100%;
}
.tabela-precos th,
.tabela-precos td {
    text-align: left;
    padding: 5px;
}

.tabela-precos th {
    color: white;
}

.descricao {
    font-style: italic;
}

.produto, tr.volume> th:first-child {
    width: 50%;
    margin-bottom: 11px;
    border: none !important;
}

.produto h2 {
    margin: 0;
    font-size: 18px;
    color: white;
}

.produto p {
    margin: 5px 0;
    font-size: 10px;
}

.preco, tr.volume > th {
    font-weight: bold;
    width: 18%;
    font-size: 14px;
}

.tamanho {
    margin-bottom: 10px;
}
tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flag-promocional , .flag {
    display: inline-block;
    background-color: #FF5733;
    color: yellow;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 18px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 20px;
}
.flag-promocional::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #FF5733;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
/* Estilos da Navbar */
.navbar {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 90%;
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 22px;
    background-color: #6b03c7;

}

.navbar .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #f39c12;
}

/* Estilos do menu hamburguer */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 33px;
    height: 25px;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
}

.logo img {
    max-height: 50px; 
    width: auto; 
}
/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
    .menu {
        display: none; 
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color:#6b03c7;
        position: absolute;
        top: 41px;
        left: 0;
        padding: 10px 0;
    }

    .menu.active {
        display: block;
    }

    .menu li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        cursor: pointer;

    }
}
